{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Qrcode creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('qrcode') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
