{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>OperationLigne creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('operationligne') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
